ol{
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
  }
  .note {
    font-size: 20px
  }

  h4{
    color: #7f1616;
  }

  * {
    text-align:center;
    }

    ul {
        display: inline-block; 
    }

*{
    background-color: #ded2d2;
}